@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');


* {
    padding: 0;
    margin: 0;
    padding: none;

}

body{
    font-family: lato,sans-serif;
    font-weight: 300;
    color: #3a3a3a;
  background-color:  whitesmoke;
}

/* header{
    background-color: black;
} */
h1,h2,h3{
font-family: 'Times New Roman', Times, serif;
}

h1{
    font-size: 3rem;
    margin: 0;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
   /* display: block;*/
}

#menu a {
    text-decoration: none;
    color: inherit;
}


#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


#menu, #logo {
    line-height: 75px;
}
#logo{
    float: left;
    margin-left: 30px;
    font-size: 280%;
}


#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    
}
#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text */

#demo {
    height: 600px;
    width: 100%;

    overflow: hidden;
    position: relative;
}

#demo-cover-text, #demo-cover-text h2 {
    color: #fff;
}

#demo-image {
    height: 600px;
    width: 100%;
    background: url('../image/hyrcan-cover-2.gif') no-repeat center center;
}

#demo-cover-text{
    font-size: 130%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    text-align: center;
    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(24, 24, 24, 0.418);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* Features */

#titr-featurs{
    text-align: center;
    font-size: 3em;
    color:#3a3a3a ;

}


#featurs{
    height: 250px;
}
.featur-explained{
    width: 100%;
    padding-top: 30px;
    margin: 0 auto;
    /*float: right;*/
    /* justify-content: center ; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    text-align: center;
 }

.featur-circle{

    width: 300px;
    height: 300px;
    padding: 20px;
    /* flex-basis: 100px; */
    overflow: hidden;
display: inline-block;

 }
#featur-circle > p{
     font-size: 130%;
     font-weight: 200;
     text-align: center;
 }

#cover-image-right{
    background:url('../image/feature-fall-2.jpg')no-repeat center center;
    border-radius: 50%;
    height: 100%;
}


#cover-image-center{
    background:url('../image/feature-deer-2.jpg')no-repeat center center;
    border-radius: 50%;
    height: 100%;
}

#cover-image-left{
    background:url('../image/cascade-2.jpg')no-repeat center center;
    border-radius: 50%;
    height: 100%;
}

/* .inner{
    display: inline-block;
} */


/*   section 2 */ 
#explanation{
    width:100%;
    
    /* padding: 1 rem 0; */
    margin-bottom: 100px;
    height: 400px;
    background:url('../image/hyrc-fire.jpg') no-repeat center fixed;
}
.explanation-text{
    padding-top:  50px;;
    
    text-align: center;
    color: white;
    font-size: 150%;
    margin: 30%;
}

